{% extends 'base.html.twig' %}

{% block body %}

    <h1>J'aime les chocolatines! Bienvenue</h1>

    <p>C'est une passion depuis toute petite et vous pourrez sur ce site trouver de quoi faire payer vos meilleurs chocolatines au GInfo, via de fantastiques notes de frais.</p>

    <p>Si vous dites autre chose que "chocolatine", c'est chaud mais vous avez tout de même le droit d'accéder au site, grâce à ma grande clémence...</p>

{% endblock %}